user = "nobody"
group = "plugdev"
ignoreControllerConfirmation = "false"

controller {
id = 1 
# name = ""
type = 2
serial = "{{ controller_serial }}"
}

device {
  id = 1001
  name = "Nexa 1"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "20167054"
    unit = "1"
  }
}

device {
  id = 1002
  name = "Nexa 2"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "20167054"
    unit = "2"
  }
}

device {
  id = 1003
  name = "Nexa 3"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "20167054"
    unit = "3"
  }
}

device {
  id = 1004
  name = "Nexa 4"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "21935606"
    unit = "11"
  }
}

device {
  id = 1005
  name = "Nexa 5"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "20167054"
    unit = "2"
  }
}
 
device {
  id = 1006
  name = "Nexa 6"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "20100000"
    unit = "6"
  }
}

device {
  id = 1101
  name = "Nexa Outdoor 1"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "20000000"
    unit = "1"
  }
}

device {
  id = 1102
  name = "Nexa Outdoor 2"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "20000000"
    unit = "2"
  }
}

device {
  id = 1501
  name = "Nexa Built-in 1"
  protocol = "arctech"
  model = "selflearning-switch:nexa"
  parameters {
    house = "16472194"
    unit = "3"
  }
}

device {
  id = 2001
  name = "GAO Outdoor 1"
  protocol = "risingsun"
  model = "codeswitch"
  parameters {
    house = "3"
    unit = "1"
  }
}

